body {
    font-family: "Segoe UI", Helvetica, sans-serif;
}

h1{
    margin-bottom: 0px;
}

.table{
    display: table;
    border-spacing: 0px 10px;
}
.tr{
    display: table-row;
}

.cell{
    display: table-cell;
    min-width: 150px;
}